##  Epiar Mail Map
#
#   This file maps contributors
#
#   Refer to the git man pages for an explanation of this:
#       git shortlog --help

Matt Zweig <thezweig@gmail.com> <knowknowledge@40d08037-4d43-4175-bee4-ccfa03fdb620>

# Mao Yu
Maoserr <maoserr@gmail.com> <maoserr@maoserr-desktop.(none)>
Maoserr <maoserr@gmail.com> <Maoserr@bedcomp.(none)>
Maoserr <maoserr@gmail.com> <maoserr@BEDCOMP.localdomain>
Maoserr <maoserr@gmail.com> <maoserr@Laptop.Homenetwork>
Maoserr <maoserr@gmail.com> <maoserr@gmail.com>
Maoserr <maoserr@gmail.com> <maoserr@ubuntu-bedcomp.(none)>

Christopher Thielen <chris@epiar.net>
Christopher Thielen <chris@epiar.net> chris <chris@40d08037-4d43-4175-bee4-ccfa03fdb620>
Christopher Thielen <chris@epiar.net> <cthielen@Chriss-MacBook-Pro.local>
Christopher Thielen <chris@epiar.net> <cthielen@Chriss-iMac.local>
Christopher Thielen <chris@epiar.net> <cthielen@christopher-thielens-macbook-pro.local>
Christopher Thielen <chris@epiar.net> <cthielen@new-host-3.home>
Christopher Thielen <chris@epiar.net> <cthielen@new-host-4.home>
Christopher Thielen <chris@epiar.net> <cthielen@new-host.home>
Christopher Thielen <chris@epiar.net> <CHRIS@.(none)>

Rikus Goodell <rikus+epiar@dusty.rikus.org> rikus--
Rikus Goodell <rikus+epiar@dusty.rikus.org> excdust

Shawn Reynolds <eb0s@yahoo.com> ebos

James <mragonz@yahoo.com> digital-phoenix
James <mragonz@yahoo.com> Brownlee <brownlee@Brownlees-MacBook-Pro.local>

Dido <plural@abv.bg> DuMuT6p

Moss Jones <moses7@mchsi.com> Mossj 

Chris Walton <chris.r.walton@gmail.com> arke 

Gerard Sweeney <gerard0sweeney@gmail.com> gsweeney
Gerard Sweeney <gerard0sweeney@gmail.com> <gsweeney@gsweeney-laptop.(none)>

Doug Mirro <dmirro@easytechtalk.com> scourgez

